<div class="categories-list-wrapper">
  <nb-table [data]="items().items ?? []"
            [columns]="columns"
            [loading]="isLoading()"
            [totalItems]="items().totalItems"
            (pageChange)="onPageChange($event)"
            (selectionChange)="onItemsSelect($event)"
            [showRowActions]="true"
            (onAddClick)="openAddNew()"
            [addPermission]="PermissionsNames.CategoriesCreate"
            [showToolbar]="true">
    <ng-template #rowActions let-rowData="rowData">
      <div class="actions flex gap-1">
        <p-button icon="pi pi-pencil" (onClick)="openEditCategory(rowData.id)" *nbHasPermission="PermissionsNames.CategoriesUpdate"/>
        <p-button icon="pi pi-trash" severity="danger" (onClick)="openDeleteConfirmation(rowData.id, $event)" *nbHasPermission="PermissionsNames.CategoriesDelete"/>
      </div>
    </ng-template>
  </nb-table>
</div>
