<div class="ant-colony-settings-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="antCount flex flex-column gap-1">
      <label for="ants">Ant Count</label>
      <p-inputNumber id="ants" formControlName="antCount" inputId="mimaxfraction" mode="decimal" [maxFractionDigits]="2"/>
    </div>
    <div class="iterations flex flex-column gap-1">
      <label for="iterations">Iterations</label>
      <p-inputNumber id="iterations" formControlName="iterations" inputId="mimaxfraction" mode="decimal" [maxFractionDigits]="2"/>
    </div>
    <div class="evaporation flex flex-column gap-1">
      <label for="evaporation">Evaporation</label>
      <p-inputNumber id="evaporation" formControlName="evaporation" inputId="mimaxfraction" mode="decimal" [maxFractionDigits]="2"/>
    </div>
    <div class="alpha flex flex-column gap-1">
      <label for="alpha">Alpha</label>
      <p-inputNumber id="alpha" formControlName="alpha" inputId="mimaxfraction" mode="decimal" [maxFractionDigits]="2"/>
    </div>
    <div class="beta flex flex-column gap-1">
      <label for="beta">Beta</label>
      <p-inputNumber id="beta" formControlName="beta" inputId="mimaxfraction" mode="decimal" [maxFractionDigits]="2"/>
    </div>
    <div class="actions mt-2">
      <p-button type="submit" label="Submit"/>
    </div>
  </form>
</div>
