<div class="algorithms-settings-wrapper w-full">
  @if (settings()) {
    <p-tabs value="0" scrollable>
      <p-tablist>
        <p-tab value="0">General</p-tab>
        <p-tab value="1">Linear Optimization</p-tab>
        <p-tab value="2">Load Balancing</p-tab>
        <p-tab value="3">Genetic</p-tab>
        <p-tab value="4">Ant Colony</p-tab>
        <p-tab value="5">Simulated Annealing</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <nb-algorithms-settings-general [settings]="settings()!"/>
        </p-tabpanel>
        <p-tabpanel value="1">
          <nb-linear-optimization-settings/>
        </p-tabpanel>
        <p-tabpanel value="2">
          <nb-load-balancing-settings [settings]="settings()!.loadBalancing"/>
        </p-tabpanel>
        <p-tabpanel value="3">
          <nb-genetic-settings [settings]="settings()!.genetic"/>
        </p-tabpanel>
        <p-tabpanel value="4">
          <nb-ant-colony-settings [settings]="settings()!.antColony"/>
        </p-tabpanel>
        <p-tabpanel value="5">
          <nb-simulated-annealing-settings [settings]="settings()!.simulatedAnnealing"/>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  }
</div>
