<div class="tasks-list-wrapper">
  <nb-table [data]="items().items ?? []"
            [columns]="columns"
            [loading]="isLoading()"
            [totalItems]="items().totalItems"
            (pageChange)="onPageChange($event)"
            (onAddClick)="openAddNew()"
            [addPermission]="PermissionsNames.TasksCreate"
            dataKey="id"
            [showRowActions]="true"
            [showToolbar]="true">
    <ng-template #body let-rowData="rowData">
      <tr>
        @let completedAt = rowData['completedAt'];
        <td>{{ rowData['name'] }}</td>
        <td>{{ rowData['description'] }}</td>
        <td>
          @if (completedAt) {
            <i class="pi pi-check-circle text-green-500"></i>
          } @else {
            <i class="pi pi-times-circle text-red-500"></i>
          }
          {{ TaskStatus[rowData['status']] }}
        </td>
        <td>
          @if (completedAt) {
            {{ completedAt | date:'short' }}
          } @else {
            -
          }
        </td>
        <td pTooltip="dd:HH:mm" tooltipPosition="top">{{ rowData['estimatedDuration'] }}</td>
        <td>{{ rowData['priority'] }}</td>
        <td>{{ rowData['complexity'] }}</td>
        <td>
          @let robotId = rowData['assignedRobotId'];
          @let robotName = rowData['assignedRobot'];
          @if (robotId) {
            <a routerLink="/robots/{{robotId}}">
              @if (robotName) {
                {{ robotName }}
              } @else {
                <i class="pi pi-external-link"></i>
              }
            </a>
          } @else { - }
        </td>
        <td>
          <div class="actions flex gap-1">
            @if (rowData.status === TaskStatus.Pending) {
              <p-button icon="pi pi-sync" severity="info" (onClick)="reEnqueue(rowData.id)" *nbHasPermission="PermissionsNames.TasksUpdate"/>
            }

            @if (rowData.status !== TaskStatus.Canceled && rowData.status !== TaskStatus.InProgress && rowData.status !== TaskStatus.Completed && rowData.status !== TaskStatus.Failed) {
              <p-button icon="pi pi-times" severity="danger" (onClick)="cancelTask(rowData.id)" *nbHasPermission="PermissionsNames.TasksDelete"/>
            }

            @if (rowData.status !== TaskStatus.InProgress) {
              <p-button icon="pi pi-pencil" (onClick)="openEditTask(rowData.id)" *nbHasPermission="PermissionsNames.TasksUpdate"/>
              <p-button icon="pi pi-trash" severity="danger" (onClick)="openDeleteConfirmation(rowData.id, $event)" *nbHasPermission="PermissionsNames.TasksDelete"/>
            }
          </div>
        </td>
      </tr>
    </ng-template>
  </nb-table>
</div>
