@font-face {
  font-family: "Deta Gothic One";
  src: url('../../../public/fonts/dela_gothic_one.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src: url('../../../public/fonts/exo_2.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
