@import '../../../styles/vars';

$height: calc(100vh - $minContentHeight);

:host {
  display: flex;
  flex-direction: column;
  height: $height;
  max-height: $height;
}

.chats-list-wrapper {
  max-height: $height;
  overflow-y: clip;
}

.list {
  max-height: calc($height - 72px);
  overflow-y: auto;
}
