<div class="forbidden-wrapper min-w-screen min-h-screen">
  <div class="forbidden min-h-screen flex justify-content-center align-items-center gap-2 flex-column-reverse">
    <div class="text flex flex-column align-items-center">
      <h1 class="text-5xl">Access Denied</h1>
      <p class="text-xl-text-center">Unfortunatelly, you do not have an access to this page</p>
      <p-button class="mt-2" styleClass="font-semibold mt-2" (onClick)="goHome()" label="Go home"/>
    </div>
    <div class="image">
      <img src="maintenance.webp" alt="sad_robot" width="300" height="300">
    </div>
  </div>
</div>
