<div class="forgot-wrapper my-2">
  <div class="header">
    <h2 class="text-center">Password recover</h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="content my-3">
      <div class="error-message">
        @if (errorMessage()) {
          <p-message [text]="errorMessage()!" severity="error"/>
        }
      </div>
      <div class="hints">
        @if (state() === ForgotRecoverState.ENTER_NEW_PASSWORD) {
          <p-message severity="secondary">
            <span>Password requirements:</span>
            <ul style="list-style-position: inside">
              @for (rule of passwordRules; track rule.key) {
                @let hasError = passwordControl?.hasError(rule.key);
                @let errorColor = passwordControl?.untouched ? '' : hasError ? 'text-red-500' : 'text-green-500';
                <li class="{{ errorColor }}">
                  {{ rule.message }}
                </li>
              }
            </ul>
          </p-message>
        }
      </div>
      <div class="fields">
        @switch (state()) {
          @case (ForgotRecoverState.ENTER_EMAIL) {
            <div class="email mt-3">
              <input type="text" (keydown.enter)="next()" class="w-full" pInputText placeholder="Enter email" formControlName="email">
            </div>
          }
          @case (ForgotRecoverState.ENTER_CODE) {
            <p-message text="Please enter the code sent to email"/>
            <div class="email mt-3 flex justify-content-center">
              <p-inputOtp (keydown.enter)="next()" [length]="6" size="large" formControlName="code"/>
            </div>
          }
          @case (ForgotRecoverState.ENTER_NEW_PASSWORD) {
            <div class="new_password mt-3">
              <input type="password" class="w-full" pInputText placeholder="Enter new password" formControlName="password">
              @if (!passwordControl?.untouched && passwordControl?.hasError('required')) {
                <span class="text-red-500">Password is required</span>
              }
            </div>
            <div class="confirm_new_password mt-2">
              <input type="password" class="w-full" pInputText placeholder="Confirm new password" formControlName="confirmPassword">
              <div class="errors text-red-500">
                @let confirmPasswordHasRequiredError = confirmPasswordControl?.hasError('required');
                @let confirmPasswordHasMismatchError = confirmPasswordControl?.hasError('compare');

                @if (!confirmPasswordControl?.untouched) {
                  @if (confirmPasswordHasRequiredError) {
                    <span>Confirm password is required</span>
                  }
                  @if (!confirmPasswordHasRequiredError && confirmPasswordHasMismatchError) {
                    <span>Passwords mismatch</span>
                  }
                }
              </div>

            </div>
          }
        }
      </div>
    </div>
    <div class="footer">
      <div class="actions w-full mt-3">
        @switch (state()) {
          @case (ForgotRecoverState.ENTER_EMAIL) {
            <p-button (onClick)="next()" [disabled]="!emailControl?.valid" type="button" label="Next" styleClass="w-full" class="flex-grow-1"/>
          }
          @case (ForgotRecoverState.ENTER_CODE) {
            <p-button (onClick)="next()" [disabled]="!codeControl?.valid" type="button" label="Next" styleClass="w-full" class="flex-grow-1"/>
          }
          @case (ForgotRecoverState.ENTER_NEW_PASSWORD) {
            <p-button [disabled]="!passwordControl?.valid || !confirmPasswordControl?.valid"
                      type="submit" label="Submit" styleClass="w-full"/>
          }
        }
      </div>
    </div>
  </form>
</div>
