<div class="sidebar" [class.opened]="sidebarOpened()">
  <div class="sidebar-content">
    <div class="top flex gap-5 align-items-center">
      <a routerLink="/">
        <img src="sidebar_logo.png" alt="logo">
      </a>
      @if (!isDesktop) {
        <div class="close">
          <p-button icon="pi pi-times" text (onClick)="closeSidebar()"/>
        </div>
      }
    </div>
    <div class="menu">
      @if (isSuperAdmin()) {
        <p-menu [model]="superAdminMenu" class="w-full" styleClass="border-none bg-transparent">
          <ng-template #submenuheader let-item>
            <span class="text-primary font-bold text-md">{{ item.label }}</span>
          </ng-template>
          <ng-template #item let-item>
            <a class="flex align-items-center p-2 px-3"
               (click)="onNavigate(item.routerLink)"
               [routerLink]="item.routerLink" routerLinkActive="routerLinkActive">
              <span [class]="item.icon"></span>
              <span class="ml-2 text-lg">{{ item.label }}</span>
            </a>
          </ng-template>
        </p-menu>
      } @else {
        <p-menu [model]="filteredMenu" class="w-full" styleClass="border-none bg-transparent">
          <ng-template #submenuheader let-item>
            <div class="text-primary font-bold text-md">{{ item.label }}</div>
          </ng-template>
          <ng-template #item let-item>
            <a class="flex align-items-center p-2 px-3"
               (click)="onNavigate(item.routerLink)"
               *rbHasPermission="item.permission"
               [routerLink]="item.routerLink" routerLinkActive="routerLinkActive">
              <span [class]="item.icon"></span>
              <span class="ml-2 text-lg">{{ item.label }}</span>
            </a>
          </ng-template>
        </p-menu>
      }
    </div>
    <div class="footer">
      <p-divider/>
      <p-button text label="Logout" styleClass="w-full" (onClick)="logout()"/>
    </div>
  </div>
</div>
