@use "app/styles/fonts";
@use "app/styles/vars";
@use 'primeflex/primeflex';
@use 'primeicons/primeicons';
@use 'app/styles/overrides/overrides';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh !important;
  width: 100%;
  font-family: "Exo 2", sans-serif;
}

h1, h2, h3, h4, h5, hgroup {
  font-family: "Deta Gothic One", sans-serif;
  font-weight: normal;
}

