@import "styles/fonts";
@import "styles/vars";
@import 'primeicons/primeicons';
@import 'primeflex/primeflex';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh !important;
  width: 100%;
  font-family: "Exo 2", sans-serif;
}

h1 {
  font-family: "Deta Gothic One", sans-serif;
}
