<div class="register-wrapper my-2">
  <div class="header">
    <h2>Complete Registration</h2>
    <p class="text-gray-300 mt-2">
      Enter password to complete the registration
    </p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="content my-3">
      <div class="fields mt-3">
        <div class="password">
          <p-floatlabel variant="in">
            <label for="password">New Password</label>
            <input pInputText type="password" class="w-full" formControlName="password" id="password">
          </p-floatlabel>
        </div>
        <div class="confirm-password mt-2">
          <p-floatlabel variant="in">
            <label for="confirm-password">Confirm Password</label>
            <input pInputText type="password" class="w-full" formControlName="confirmPassword" id="confirm-password">
          </p-floatlabel>
        </div>
      </div>
      <div class="actions mt-2 w-full">
        <p-button [disabled]="!form.valid" class="w-full" styleClass="w-full" type="submit" label="Register"/>
      </div>
    </div>
  </form>
</div>
