<div class="change-password-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="error-message my-2">
      @if (errorMessage()) {
        <p-message [text]="errorMessage()!" severity="error"/>
      }
    </div>
    <div class="fields mt-2">
      <div class="current-password gap-1">
        <p-floatlabel variant="in">
          <input id="current-password" pInputText type="password" class="w-full" formControlName="currentPassword">
          <label for="current-password" class="font-normal">Current password</label>
        </p-floatlabel>
      </div>
      <div class="new-password mt-1">
        <p-floatlabel variant="in">
          <label for="new-password" class="font-normal">New password</label>
          <input id="new-password" pInputText type="password" class="w-full" formControlName="newPassword">
        </p-floatlabel>
      </div>
      <div class="confirm-password mt-1">
        <p-floatlabel variant="in">
          <label for="confirm-password" class="font-normal">Confirm password</label>
          <input id="confirm-password" pInputText type="password" class="w-full" formControlName="confirmPassword">
        </p-floatlabel>
      </div>
    </div>
    <div class="actions mt-3">
      <p-button outlined [disabled]="!form.valid" type="submit" label="Save" styleClass="w-full"/>
    </div>
  </form>
</div>
