<div class="tenants-list-wrapper">
  <nb-table [data]="items().items ?? []"
            [columns]="columns"
            [loading]="isLoading()"
            [totalItems]="items().totalItems"
            (pageChange)="onPageChange($event)"
            (selectionChange)="onItemsSelect($event)"
            (onAddClick)="openAddNew()"
            dataKey="id"
            [showRowActions]="true"
            [showToolbar]="true">
    <ng-template #rowActions let-rowData="rowData">
      <div class="actions flex gap-1">
        <p-button icon="pi pi-pencil"/>
        <p-button icon="pi pi-trash" severity="danger" (onClick)="openDeleteConfirmation(rowData.id, $event)"/>
      </div>
    </ng-template>
  </nb-table>
</div>
