.layout-container {
  min-height: 100vh;
}

.layout-content-wrapper {
  margin-left: 0;
  transition: margin-left var(--transition-duration);
  padding: 1.25rem 2rem;

  &.opened {
    margin-left: var(--sidebar-width);
  }
}

@media (max-width: 1024px) {
  .layout-content-wrapper, .layout-content-wrapper.opened {
    margin-left: 0 !important;
    z-index: 997;
  }
}
