<div class="table-wrapper">
  <div class="toolbar">
    @if (showToolbar()) {
      <p-toolbar>
        <ng-template #start>
          @if (toolbarStartTemplate()) {
            <ng-container *ngTemplateOutlet="toolbarStartTemplate()!"></ng-container>
          } @else {
            <p-button (onClick)="onAddClick.emit()" label="New" icon="pi pi-plus" class="mr-2"/>
          }
        </ng-template>
        <ng-template #end>
          @if (toolbarEndTemplate()) {
            <ng-container *ngTemplateOutlet="toolbarEndTemplate()!"></ng-container>
          }
        </ng-template>
      </p-toolbar>
    }
  </div>

  <div class="loading my-4">
    @if (loading()) {
      <p-progress-bar mode="indeterminate" color="primary" class="w-100" [style]="{ 'height': '5px' }"/>
    }
  </div>

  <div class="data-wrapper">
    <p-table [value]="data()"
             [(selection)]="selectedItems"
             (selectionChange)="onSelectionChange($event)"
             [dataKey]="dataKey()"
             [rowHover]="true"
             [columns]="columns()">
      @if (captionTemplate()) {
        <ng-template #caption>
          <ng-container *ngTemplateOutlet="captionTemplate()!"></ng-container>
        </ng-template>
      }

      <ng-template #header let-columns>
        @if (headerTemplate()) {
          <ng-container #header *ngTemplateOutlet="headerTemplate()!; context: { columns: columns }"></ng-container>
        } @else {
          @if (columns && columns.length > 0) {
            <tr>
              @for (column of columns; track column.propName) {
                <th>{{ column.label }}</th>
              }

              @if (showRowActions() && rowActionTemplate()) {
                <th>Actions</th>
              }
            </tr>
          }
        }
      </ng-template>

      <ng-template #body let-rowData let-columns="columns">
        @if (bodyTemplate()) {
          <ng-container #body *ngTemplateOutlet="bodyTemplate()!; context: { rowData: rowData, columns: columns }"></ng-container>
        } @else {
          @if (rowData && columns) {
            <tr>
              @for (column of columns; track column.propName) {
                @let isFunction = isPropNameFunction(column.propName);
                <td>{{ isFunction ? column.propName(rowData) : rowData[column.propName] }}</td>
              }
              @if (showRowActions() && rowActionTemplate()) {
                <td class="w-2rem">
                  <ng-container *ngTemplateOutlet="rowActionTemplate()!; context: { rowData: rowData }"></ng-container>
                </td>
              }
            </tr>
          }
        }
      </ng-template>
    </p-table>
  </div>
  <div class="pagination-wrapper">
    <p-paginator [rows]="pageSize()"
                 [first]="rowsToSkip()"
                 [totalRecords]="totalItems()"
                 [rowsPerPageOptions]="pageSizeOptions()"
                 (onPageChange)="onPageChange($event)"
    />
  </div>
</div>
