<div class="maintenance-wrapper min-w-screen min-h-screen">
  <div class="maintenance min-h-screen flex justify-content-center align-items-center gap-2 flex-column-reverse lg:flex-row">
    <div class="text flex flex-column align-items-center">
      <h1 class="text-5xl">MAINTENANCE</h1>
      <p class="text-xl text-center">Currently our service is under maintenance. Please try again later.</p>
    </div>
   <div class="image">
     <img src="maintenance.webp" alt="sad_robot" width="300" height="300">
   </div>
  </div>
</div>
