<div class="users-list-wrapper">
  <rb-table [data]="items().items ?? []"
            [columns]="columns"
            [loading]="isLoading()"
            [totalItems]="items().totalItems"
            (pageChange)="onPageChange($event)"
            (selectionChange)="onItemsSelect($event)"
            (onAddClick)="openAddNew()"
            dataKey="id"
            [addPermission]="PermissionsNames.UsersCreate"
            [showRowActions]="true"
            [showToolbar]="true">
    <ng-template #body let-rowData="rowData">
      <tr>
        <td>{{ rowData['email'] }}</td>
        <td>{{ rowData['username'] }}</td>
        <td>
          @for (role of rowData['roles']; track role.id; let last = $last) {
            {{role.name}}{{!last ? ', ' : ''}}
          }
        </td>
        <td>
          @let verified = rowData['emailVerified'] === true;
          <i class="pi pi-{{ verified ? 'check' : 'times' }}-circle text-{{verified ? 'green' : 'red'}}-500"></i>
        </td>
        <td>
          <div class="actions flex gap-1">
            <p-button icon="pi pi-pencil" (onClick)="openEditUser(rowData.id)" *rbHasPermission="PermissionsNames.UsersUpdate"/>
            @if (rowData['email'] !== currentUser()?.email) {
              <p-button icon="pi pi-trash" severity="danger" (onClick)="openDeleteConfirmation(rowData.id, $event)" *rbHasPermission="PermissionsNames.UsersDelete"/>
            }
          </div>
        </td>
      </tr>
    </ng-template>
  </rb-table>
</div>
