<div class="roles-list-wrapper">
  <nb-table [data]="items().items ?? []"
            [columns]="columns"
            [loading]="isLoading()"
            [totalItems]="items().totalItems"
            (pageChange)="onPageChange($event)"
            (onAddClick)="openAddNew()"
            dataKey="id"
            [showRowActions]="true"
            [showToolbar]="true"
            [addPermission]="PermissionsNames.RolesRead">
    <ng-template #rowActions let-rowData="rowData">
      <div class="actions flex gap-1">
        <p-button icon="pi pi-pencil" (onClick)="openEditRole(rowData.id)" *nbHasPermission="PermissionsNames.RolesUpdate"/>
        @if (!rowData['isSystem']) {
          <p-button (onClick)="openCancelConfirmation(rowData.id, $event)" severity="danger" icon="pi pi-trash" *nbHasPermission="PermissionsNames.RolesDelete"/>
        }
      </div>
    </ng-template>
  </nb-table>
</div>
