<div class="create-tenant-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form flex flex-column justify-content-between h-100">
    <div class="fields">
      <div class="email flex flex-column gap-1">
        <label for="email">Email</label>
        <input pInputText id="email" type="email" formControlName="email">
      </div>
      <div class="name flex flex-column gap-1 mt-2">
        <label for="name">Name</label>
        <input pInputText id="name" type="text" formControlName="name">
      </div>
    </div>
    <div class="actions mt-2 w-100">
      <p-button [disabled]="!form.valid" type="submit" label="Submit" class="w-100" styleClass="w-100"/>
    </div>
  </form>
</div>
